@media screen and (max-width: 992px) {
  body > header {
    margin: 0 2rem 0 2rem;
  }

  main {
    margin: 0 2rem 0 2rem;
  }

  /* ******************** */
  /*         HOSTINGS       */
  /* ******************** */

  #hostings {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 2rem;
  }

  .hosting-main {
    grid-row: 2;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .hosting-main-card img {
    height: 12rem;
  }

  aside {
    grid-row: 1;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    column-gap: 2rem;
  }

  aside header {
    grid-column: 1/-1;
  }

  .aside-img {
    margin-bottom: 8rem;
  }

  /* ******************** */
  /*     ACTIVITIES       */
  /* ******************** */

  #activities {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 15rem 15rem 15rem;
  }

  #activities header {
    grid-column: 1/-1;
  }

  /* ******************** */
  /*         FOOTER       */
  /* ******************** */

  footer div {
    font-size: 1rem;
  }
}
